@font-face {
  font-family: 'Siticon';
  src:  url('../fonts/Siticon.eot?h7p2i7');
  src:  url('../fonts/Siticon.eot?h7p2i7#iefix') format('embedded-opentype'),
    url('../fonts/Siticon.ttf?h7p2i7') format('truetype'),
    url('../fonts/Siticon.woff?h7p2i7') format('woff'),
    url('../fonts/Siticon.svg?h7p2i7#Siticon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Siticon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sit-aereo-enfriador:before {
  content: "\eaaa";
}
.sit-bomba-cintrifuga-multietapa:before {
  content: "\eaab";
}
.sit-bomba-gas:before {
  content: "\eaac";
}
.sit-bomba-neumatica:before {
  content: "\eaad";
}
.sit-bomba-paleta:before {
  content: "\eaae";
}
.sit-bomba-tornillo:before {
  content: "\eaaf";
}
.sit-caja-empuje:before {
  content: "\eab0";
}
.sit-compresor-centrifugo:before {
  content: "\eab1";
}
.sit-compresor-tornillo:before {
  content: "\eab2";
}
.sit-estructura-skid:before {
  content: "\eab3";
}
.sit-productor-gas:before {
  content: "\eab4";
}
.sit-casco:before {
  content: "\e980";
}
.sit-camion:before {
  content: "\e9a0";
}
.sit-k:before {
  content: "\e9a1";
}
.sit-kmas:before {
  content: "\e9a9";
}
.sit-x:before {
  content: "\e9aa";
}
.sit-k1:before {
  content: "\e9ad";
}
.sit-d-rotacion:before {
  content: "\e9ae";
}
.sit-g:before {
  content: "\e9af";
}
.sit-360:before {
  content: "\e9b0";
}
.sit-abc:before {
  content: "\e9b1";
}
.sit-abrir-candado:before {
  content: "\e9b2";
}
.sit-abrir-progrmado-candado:before {
  content: "\e9b3";
}
.sit-accesibilidad:before {
  content: "\e9b4";
}
.sit-accesible:before {
  content: "\e9b5";
}
.sit-accesible-rapido:before {
  content: "\e9b6";
}
.sit-activar-alarma:before {
  content: "\e9b7";
}
.sit-actualizar:before {
  content: "\e9b8";
}
.sit-adjuntar:before {
  content: "\e9b9";
}
.sit-adjuntar-email:before {
  content: "\e9ba";
}
.sit-admin-panel-ajustes:before {
  content: "\e9bb";
}
.sit-aegar-home:before {
  content: "\e9bc";
}
.sit-agreagar-imagen-2:before {
  content: "\e9bd";
}
.sit-agregar:before {
  content: "\e9be";
}
.sit-agregar-alarma:before {
  content: "\e9bf";
}
.sit-agregar-alarma-2:before {
  content: "\e9c0";
}
.sit-agregar-alerta:before {
  content: "\e9c1";
}
.sit-agregar-al-inicio:before {
  content: "\e9c2";
}
.sit-agregar-card:before {
  content: "\e9c3";
}
.sit-agregar-carrito:before {
  content: "\e9c4";
}
.sit-agregar-circulo:before {
  content: "\e9c5";
}
.sit-agregar-comentario:before {
  content: "\e9c6";
}
.sit-agregar-cubo:before {
  content: "\e9c7";
}
.sit-agregar-drive:before {
  content: "\e9c8";
}
.sit-agregar-emoticon:before {
  content: "\e9c9";
}
.sit-agregar-empresa:before {
  content: "\e9ca";
}
.sit-agregar-foto:before {
  content: "\e9cb";
}
.sit-agregar-grafico:before {
  content: "\e9cc";
}
.sit-agregar-grafico-2:before {
  content: "\e9cd";
}
.sit-agregar-imagen:before {
  content: "\e9ce";
}
.sit-agregar-link:before {
  content: "\e9cf";
}
.sit-agregar-llamada:before {
  content: "\e9d0";
}
.sit-agregar-negocio:before {
  content: "\e9d1";
}
.sit-agregar-nota:before {
  content: "\e9d2";
}
.sit-agregar-notificacion:before {
  content: "\e9d3";
}
.sit-agregar-pantalla:before {
  content: "\e9d4";
}
.sit-agregar-ruta:before {
  content: "\e9d5";
}
.sit-agregar-seguridad:before {
  content: "\e9d6";
}
.sit-agregar-tarea:before {
  content: "\e9d7";
}
.sit-agregar-trabajo:before {
  content: "\e9d8";
}
.sit-agregar-ubicacion:before {
  content: "\e9d9";
}
.sit-agregar-ubicacion-2:before {
  content: "\e9da";
}
.sit-agricultura:before {
  content: "\e9db";
}
.sit-agua:before {
  content: "\e9dc";
}
.sit-aire:before {
  content: "\e9dd";
}
.sit-ajustes:before {
  content: "\e9de";
}
.sit-alarma:before {
  content: "\e9df";
}
.sit-alerta:before {
  content: "\e9e0";
}
.sit-alerta-anotador:before {
  content: "\e9e1";
}
.sit-alinear-centro:before {
  content: "\e9e2";
}
.sit-alinear-derecha:before {
  content: "\e9e3";
}
.sit-alinear-izquierda:before {
  content: "\e9e4";
}
.sit-alinear-vertical-abajo:before {
  content: "\e9e5";
}
.sit-alinear-vertical-arriba:before {
  content: "\e9e6";
}
.sit-alinear-vertical-centro:before {
  content: "\e9e7";
}
.sit-alternar-email:before {
  content: "\e9e8";
}
.sit-analitica:before {
  content: "\e9e9";
}
.sit-ancla:before {
  content: "\e9ea";
}
.sit-android:before {
  content: "\e9eb";
}
.sit-animacion:before {
  content: "\e9ec";
}
.sit-anotador:before {
  content: "\e9ed";
}
.sit-anotador-2:before {
  content: "\e9ee";
}
.sit-api:before {
  content: "\e9ef";
}
.sit-app-bloqueada:before {
  content: "\e9f0";
}
.sit-apple:before {
  content: "\e9f1";
}
.sit-app-registracion:before {
  content: "\e9f2";
}
.sit-apps:before {
  content: "\e9f3";
}
.sit-aprovar:before {
  content: "\e9f4";
}
.sit-archivar:before {
  content: "\e9f5";
}
.sit-archivero:before {
  content: "\e9f6";
}
.sit-archivo:before {
  content: "\e9f7";
}
.sit-archivo-audio:before {
  content: "\e9f8";
}
.sit-arquitectura:before {
  content: "\e9f9";
}
.sit-articulo:before {
  content: "\e9fa";
}
.sit-asistente:before {
  content: "\e9fb";
}
.sit-asteriscos:before {
  content: "\e9fc";
}
.sit-audio:before {
  content: "\e9fd";
}
.sit-auto:before {
  content: "\e9fe";
}
.sit-auto-llave:before {
  content: "\e9ff";
}
.sit-auto-mode:before {
  content: "\ea00";
}
.sit-ayuda:before {
  content: "\ea01";
}
.sit-ayuda-2:before {
  content: "\ea02";
}
.sit-balance:before {
  content: "\ea03";
}
.sit-barras:before {
  content: "\ea04";
}
.sit-bateria-llena:before {
  content: "\ea05";
}
.sit-bateria-mitad:before {
  content: "\ea06";
}
.sit-bateria-vacia:before {
  content: "\ea07";
}
.sit-billetera:before {
  content: "\ea08";
}
.sit-blokeado:before {
  content: "\ea09";
}
.sit-bluetooth:before {
  content: "\ea0a";
}
.sit-bomberos:before {
  content: "\ea0b";
}
.sit-buscar:before {
  content: "\ea0c";
}
.sit-buscar-anotador:before {
  content: "\ea0d";
}
.sit-cable:before {
  content: "\ea0e";
}
.sit-calendario:before {
  content: "\ea0f";
}
.sit-camara:before {
  content: "\ea10";
}
.sit-capas:before {
  content: "\ea11";
}
.sit-carrito-compra:before {
  content: "\ea12";
}
.sit-categorias:before {
  content: "\ea13";
}
.sit-celebrar:before {
  content: "\ea14";
}
.sit-celular:before {
  content: "\ea15";
}
.sit-cerrar:before {
  content: "\ea16";
}
.sit-chat:before {
  content: "\ea17";
}
.sit-check-circulo:before {
  content: "\ea18";
}
.sit-check-cuadrado:before {
  content: "\ea19";
}
.sit-clic:before {
  content: "\ea1a";
}
.sit-codigo-barra:before {
  content: "\ea1b";
}
.sit-coete:before {
  content: "\ea1c";
}
.sit-colectivo-frente:before {
  content: "\ea1d";
}
.sit-compartir:before {
  content: "\ea1e";
}
.sit-computadora:before {
  content: "\ea1f";
}
.sit-construir:before {
  content: "\ea20";
}
.sit-construir-2:before {
  content: "\ea21";
}
.sit-construir-circulo:before {
  content: "\ea22";
}
.sit-cookie:before {
  content: "\ea23";
}
.sit-cuenta-banco:before {
  content: "\ea24";
}
.sit-cuenta-perfil-circular:before {
  content: "\ea25";
}
.sit-cuneta-perfil:before {
  content: "\ea26";
}
.sit-darkmode:before {
  content: "\ea27";
}
.sit-departamentos:before {
  content: "\ea28";
}
.sit-deposito:before {
  content: "\ea29";
}
.sit-desactivar-alarma:before {
  content: "\ea2a";
}
.sit-descargando:before {
  content: "\ea2b";
}
.sit-descuento:before {
  content: "\ea2c";
}
.sit-deshacer:before {
  content: "\ea2d";
}
.sit-dinero:before {
  content: "\ea2e";
}
.sit-dispositivo:before {
  content: "\ea2f";
}
.sit-editar:before {
  content: "\ea30";
}
.sit-editar-calendario:before {
  content: "\ea31";
}
.sit-editar-ubicacion:before {
  content: "\ea32";
}
.sit-eliminar:before {
  content: "\ea33";
}
.sit-eliminar-difinitivo:before {
  content: "\ea34";
}
.sit-eliminar-programado:before {
  content: "\ea35";
}
.sit-email:before {
  content: "\ea36";
}
.sit-email-2:before {
  content: "\ea37";
}
.sit-enviar:before {
  content: "\ea38";
}
.sit-error:before {
  content: "\ea39";
}
.sit-estadisticas:before {
  content: "\ea3a";
}
.sit-estrella:before {
  content: "\ea3b";
}
.sit-estrella-2:before {
  content: "\ea3c";
}
.sit-evento:before {
  content: "\ea3d";
}
.sit-extengidor:before {
  content: "\ea3e";
}
.sit-fabrica:before {
  content: "\ea3f";
}
.sit-face:before {
  content: "\ea40";
}
.sit-facebook:before {
  content: "\ea41";
}
.sit-favorito:before {
  content: "\ea42";
}
.sit-felcha-arriba-2:before {
  content: "\ea43";
}
.sit-filtro:before {
  content: "\ea44";
}
.sit-filtro-2:before {
  content: "\ea45";
}
.sit-flecha-abajo:before {
  content: "\ea46";
}
.sit-flecha-atras:before {
  content: "\ea47";
}
.sit-flecha-atras-2:before {
  content: "\ea48";
}
.sit-flecha-atras-3:before {
  content: "\ea49";
}
.sit-flecha-circulo-abajo:before {
  content: "\ea4a";
}
.sit-flecha-circulo-arriba:before {
  content: "\ea4b";
}
.sit-flecha-circulo-derecha:before {
  content: "\ea4c";
}
.sit-flecha-circulo-izquierda:before {
  content: "\ea4d";
}
.sit-flecha-dercha-larga:before {
  content: "\ea4e";
}
.sit-flecha-diagonal:before {
  content: "\ea4f";
}
.sit-flecha-dorp-arriba:before {
  content: "\ea50";
}
.sit-flecha-drop-abajo:before {
  content: "\ea51";
}
.sit-flecha-drop-circulo-abajo:before {
  content: "\ea52";
}
.sit-flecha-drop-derecha:before {
  content: "\ea53";
}
.sit-flecha-drop-izquierda:before {
  content: "\ea54";
}
.sit-flecha-siguiente:before {
  content: "\ea55";
}
.sit-flecha-siguiente-2:before {
  content: "\ea56";
}
.sit-fondo:before {
  content: "\ea57";
}
.sit-gas:before {
  content: "\ea58";
}
.sit-generador-electrico:before {
  content: "\ea59";
}
.sit-grafico-torta:before {
  content: "\ea5a";
}
.sit-grupo-personas:before {
  content: "\ea5b";
}
.sit-guardar:before {
  content: "\ea5c";
}
.sit-hand:before {
  content: "\ea5d";
}
.sit-historial:before {
  content: "\ea5e";
}
.sit-historias:before {
  content: "\ea5f";
}
.sit-home:before {
  content: "\ea60";
}
.sit-home-2:before {
  content: "\ea61";
}
.sit-ia:before {
  content: "\ea62";
}
.sit-igual:before {
  content: "\ea63";
}
.sit-imagen-texto:before {
  content: "\ea64";
}
.sit-importante-mensaje:before {
  content: "\ea65";
}
.sit-infinito:before {
  content: "\ea66";
}
.sit-info:before {
  content: "\ea67";
}
.sit-ingeniero:before {
  content: "\ea68";
}
.sit-insignia-ok:before {
  content: "\ea69";
}
.sit-inventario:before {
  content: "\ea6a";
}
.sit-juego:before {
  content: "\ea6b";
}
.sit-lenguaje:before {
  content: "\ea6c";
}
.sit-libro:before {
  content: "\ea6d";
}
.sit-llamar:before {
  content: "\ea6e";
}
.sit-llave:before {
  content: "\ea6f";
}
.sit-login:before {
  content: "\ea70";
}
.sit-maletin-trabajo:before {
  content: "\ea71";
}
.sit-mano-palma:before {
  content: "\ea72";
}
.sit-mas-opciones:before {
  content: "\ea73";
}
.sit-mas-opciones-vertical:before {
  content: "\ea74";
}
.sit-medialuna:before {
  content: "\ea75";
}
.sit-memory:before {
  content: "\ea76";
}
.sit-menu:before {
  content: "\ea77";
}
.sit-mosaico:before {
  content: "\ea78";
}
.sit-nfc:before {
  content: "\ea79";
}
.sit-no-editar:before {
  content: "\ea7a";
}
.sit-notas:before {
  content: "\ea7b";
}
.sit-notebook:before {
  content: "\ea7c";
}
.sit-notificacion:before {
  content: "\ea7d";
}
.sit-notificacion-importante:before {
  content: "\ea7e";
}
.sit-no-visible:before {
  content: "\ea7f";
}
.sit-nube-subir:before {
  content: "\ea80";
}
.sit-ok:before {
  content: "\ea81";
}
.sit-panoramica:before {
  content: "\ea82";
}
.sit-pantalla-completa:before {
  content: "\ea83";
}
.sit-pass:before {
  content: "\ea84";
}
.sit-password:before {
  content: "\ea85";
}
.sit-personas:before {
  content: "\ea86";
}
.sit-petroleo:before {
  content: "\ea87";
}
.sit-pin-drop:before {
  content: "\ea88";
}
.sit-proporcion:before {
  content: "\ea89";
}
.sit-punto:before {
  content: "\ea8a";
}
.sit-puntos-circulos:before {
  content: "\ea8b";
}
.sit-radio-button-check:before {
  content: "\ea8c";
}
.sit-radio-button-uncheck:before {
  content: "\ea8d";
}
.sit-rama:before {
  content: "\ea8e";
}
.sit-ruta-alternativa:before {
  content: "\ea8f";
}
.sit-salir:before {
  content: "\ea90";
}
.sit-sangre:before {
  content: "\ea91";
}
.sit-semaforo:before {
  content: "\ea92";
}
.sit-sillon:before {
  content: "\ea93";
}
.sit-sincronizar:before {
  content: "\ea94";
}
.sit-sobre-abierto:before {
  content: "\ea95";
}
.sit-subir:before {
  content: "\ea96";
}
.sit-subir-archivo:before {
  content: "\ea97";
}
.sit-tabs:before {
  content: "\ea98";
}
.sit-tarjeta:before {
  content: "\ea99";
}
.sit-telefono:before {
  content: "\ea9a";
}
.sit-texto-corto:before {
  content: "\ea9b";
}
.sit-ticket-2:before {
  content: "\ea9c";
}
.sit-tiempo:before {
  content: "\ea9d";
}
.sit-tiempo-2:before {
  content: "\ea9e";
}
.sit-tiktok:before {
  content: "\ea9f";
}
.sit-todos-fuera:before {
  content: "\eaa0";
}
.sit-usuario:before {
  content: "\eaa1";
}
.sit-varita:before {
  content: "\eaa2";
}
.sit-verificado:before {
  content: "\eaa3";
}
.sit-visible:before {
  content: "\eaa4";
}
.sit-vpn-lock:before {
  content: "\eaa5";
}
.sit-web:before {
  content: "\eaa6";
}
.sit-whastapp:before {
  content: "\eaa7";
}
.sit-zoom-in:before {
  content: "\eaa8";
}
.sit-zoom-out:before {
  content: "\eaa9";
}
.sit-1k:before {
  content: "\e911";
}
.sit-1kplus:before {
  content: "\e912";
}
.sit-1xmobile:before {
  content: "\e9a7";
}
.sit-filtrar:before {
  content: "\e9a8";
}
.sit-conde:before {
  content: "\e910";
}
.sit-enchufe-2:before {
  content: "\e900";
}
.sit-lubricacion:before {
  content: "\e901";
}
.sit-caja-reductora:before {
  content: "\e902";
}
.sit-herni:before {
  content: "\e903";
}
.sit-pozo-petrolero:before {
  content: "\e904";
}
.sit-pozo-inyector:before {
  content: "\e905";
}
.sit-pozo-gas:before {
  content: "\e906";
}
.sit-transformador:before {
  content: "\e907";
}
.sit-skid:before {
  content: "\e908";
}
.sit-media-tension:before {
  content: "\e909";
}
.sit-tablero:before {
  content: "\e90a";
}
.sit-soplador:before {
  content: "\e90b";
}
.sit-bomba-2:before {
  content: "\e90c";
}
.sit--gas:before {
  content: "\e90d";
}
.sit-enfriador-aereo:before {
  content: "\e90e";
}
.sit-compresor:before {
  content: "\e90f";
}
.sit-turbina-2:before {
  content: "\e913";
}
.sit-turbina:before {
  content: "\e914";
}
.sit-turbo-2:before {
  content: "\e915";
}
.sit-bomba-engranaje:before {
  content: "\e916";
}
.sit-impresora:before {
  content: "\e917";
}
.sit-vr:before {
  content: "\e918";
}
.sit-motor-alt:before {
  content: "\e919";
}
.sit-bomba-centrifuga:before {
  content: "\e91a";
}
.sit-bomba-alt .path1:before {
  content: "\e91b";
  color: rgb(0, 0, 0);
}
.sit-bomba-alt .path2:before {
  content: "\e91c";
  margin-left: -1.140625em;
  color: rgb(255, 255, 255);
}
.sit-bomba-alt .path3:before {
  content: "\e91d";
  margin-left: -1.140625em;
  color: rgb(255, 255, 255);
}
.sit-bomba-alt .path4:before {
  content: "\e91e";
  margin-left: -1.140625em;
  color: rgb(0, 0, 0);
}
.sit-bomba-alt .path5:before {
  content: "\e91f";
  margin-left: -1.140625em;
  color: rgb(0, 0, 0);
}
.sit-grupo:before {
  content: "\e920";
}
.sit-roles:before {
  content: "\e921";
}
.sit-motor-2:before {
  content: "\e922";
}
.sit-chart:before {
  content: "\e923";
}
.sit-monitor:before {
  content: "\e924";
}
.sit-silla-2:before {
  content: "\e925";
}
.sit-barco:before {
  content: "\e926";
}
.sit-cajas:before {
  content: "\e927";
}
.sit-canio:before {
  content: "\e928";
}
.sit-chip-2:before {
  content: "\e929";
}
.sit-conexion:before {
  content: "\e92a";
}
.sit-grua:before {
  content: "\e92b";
}
.sit-maquina:before {
  content: "\e92c";
}
.sit-mineria:before {
  content: "\e92d";
}
.sit-barril:before {
  content: "\e92e";
}
.sit-industria:before {
  content: "\e92f";
}
.sit-metro:before {
  content: "\e930";
}
.sit-perforadora:before {
  content: "\e931";
}
.sit-refineria:before {
  content: "\e932";
}
.sit-toma:before {
  content: "\e933";
}
.sit-torre-electrica:before {
  content: "\e934";
}
.sit-aceite:before {
  content: "\e935";
}
.sit-bujias:before {
  content: "\e936";
}
.sit-butaca:before {
  content: "\e937";
}
.sit-ejes:before {
  content: "\e938";
}
.sit-escape:before {
  content: "\e939";
}
.sit-frenos:before {
  content: "\e93a";
}
.sit-herramienta:before {
  content: "\e93b";
}
.sit-piston:before {
  content: "\e93c";
}
.sit-turbo:before {
  content: "\e93d";
}
.sit-motor-electro:before {
  content: "\e93e";
}
.sit-dos-ejes:before {
  content: "\e93f";
}
.sit-conf-senal:before {
  content: "\e940";
}
.sit-canio-conex:before {
  content: "\e941";
}
.sit-canio-girar:before {
  content: "\e942";
}
.sit-canio-llave:before {
  content: "\e943";
}
.sit-canio-roto-2:before {
  content: "\e944";
}
.sit-canio-tramo:before {
  content: "\e945";
}
.sit-manometro:before {
  content: "\e946";
}
.sit-trabajdor:before {
  content: "\e947";
}
.sit-manometro-canio:before {
  content: "\e948";
}
.sit-archivo2:before {
  content: "\e949";
}
.sit-edu:before {
  content: "\e94a";
}
.sit-gafete:before {
  content: "\e94b";
}
.sit-proyectar:before {
  content: "\e94c";
}
.sit-atencion:before {
  content: "\e94d";
}
.sit-certifica:before {
  content: "\e94e";
}
.sit-user-conf:before {
  content: "\e94f";
}
.sit-user-mira:before {
  content: "\e950";
}
.sit-company:before {
  content: "\e951";
}
.sit-billetera2:before {
  content: "\e952";
}
.sit-dia-hora:before {
  content: "\e953";
}
.sit-chip:before {
  content: "\e954";
}
.sit-detector:before {
  content: "\e955";
}
.sit-energia:before {
  content: "\e956";
}
.sit-guantes:before {
  content: "\e957";
}
.sit-mangera:before {
  content: "\e958";
}
.sit-perdida:before {
  content: "\e959";
}
.sit-sirena:before {
  content: "\e95a";
}
.sit-soga:before {
  content: "\e95b";
}
.sit-postnet:before {
  content: "\e95c";
}
.sit-router:before {
  content: "\e95d";
}
.sit-drone:before {
  content: "\e95e";
}
.sit-drone-2:before {
  content: "\e95f";
}
.sit-pantalla:before {
  content: "\e960";
}
.sit-solar .path1:before {
  content: "\e961";
  color: rgb(0, 0, 0);
}
.sit-solar .path2:before {
  content: "\e962";
  margin-left: -1.109375em;
  color: rgb(255, 255, 255);
}
.sit-solar .path3:before {
  content: "\e963";
  margin-left: -1.109375em;
  color: rgb(0, 0, 0);
}
.sit-solar .path4:before {
  content: "\e964";
  margin-left: -1.109375em;
  color: rgb(0, 0, 0);
}
.sit-solar .path5:before {
  content: "\e965";
  margin-left: -1.109375em;
  color: rgb(0, 0, 0);
}
.sit-solar .path6:before {
  content: "\e966";
  margin-left: -1.109375em;
  color: rgb(0, 0, 0);
}
.sit-solar .path7:before {
  content: "\e967";
  margin-left: -1.109375em;
  color: rgb(255, 255, 255);
}
.sit-solar .path8:before {
  content: "\e968";
  margin-left: -1.109375em;
  color: rgb(0, 0, 0);
}
.sit-pendrive:before {
  content: "\e969";
}
.sit-mascara:before {
  content: "\e96a";
}
.sit-no-pasar:before {
  content: "\e96b";
}
.sit-alerta-2:before {
  content: "\e96c";
}
.sit-bota:before {
  content: "\e96d";
}
.sit-camara2:before {
  content: "\e96e";
}
.sit-casco2:before {
  content: "\e96f";
}
.sit-chaleco:before {
  content: "\e970";
}
.sit-fumar:before {
  content: "\e971";
}
.sit-handy:before {
  content: "\e972";
}
.sit-lentes:before {
  content: "\e973";
}
.sit-maletin:before {
  content: "\e974";
}
.sit-mascara-2:before {
  content: "\e975";
}
.sit-matafuego:before {
  content: "\e976";
}
.sit-barrera:before {
  content: "\e977";
}
.sit-container:before {
  content: "\e978";
}
.sit-lupa-mas:before {
  content: "\e979";
}
.sit-tiempo-3:before {
  content: "\e97a";
}
.sit-campana:before {
  content: "\e97b";
}
.sit-sobre:before {
  content: "\e97c";
}
.sit-app-ok:before {
  content: "\e97d";
}
.sit-key:before {
  content: "\e97e";
}
.sit-tools:before {
  content: "\e97f";
}
.sit-cinturon:before {
  content: "\e981";
}
.sit-cono:before {
  content: "\e982";
}
.sit-delete:before {
  content: "\e983";
}
.sit-subir-2:before {
  content: "\e984";
}
.sit-apagar:before {
  content: "\e985";
}
.sit-candado-gota:before {
  content: "\e986";
}
.sit-lab-gota:before {
  content: "\e987";
}
.sit-planta-gota:before {
  content: "\e988";
}
.sit-hand-gota:before {
  content: "\e989";
}
.sit-control:before {
  content: "\e98a";
}
.sit-filtro-3:before {
  content: "\e98b";
}
.sit-lupa:before {
  content: "\e98c";
}
.sit-lluvia:before {
  content: "\e98d";
}
.sit-no-gota:before {
  content: "\e98e";
}
.sit-zoom-gota:before {
  content: "\e98f";
}
.sit-molecula-gota:before {
  content: "\e990";
}
.sit-filtro-gota:before {
  content: "\e991";
}
.sit-config-gota:before {
  content: "\e992";
}
.sit-botella:before {
  content: "\e993";
}
.sit-calendario-2:before {
  content: "\e994";
}
.sit-config:before {
  content: "\e995";
}
.sit-email-3:before {
  content: "\e996";
}
.sit-app-2:before {
  content: "\e997";
}
.sit-busqueda-doc:before {
  content: "\e998";
}
.sit-seguro:before {
  content: "\e999";
}
.sit-user:before {
  content: "\e99a";
}
.sit-pin:before {
  content: "\e99b";
}
.sit-huella:before {
  content: "\e99c";
}
.sit-modulos:before {
  content: "\e99d";
}
.sit-base:before {
  content: "\e99e";
}
.sit-tres-puntos:before {
  content: "\e99f";
}
.sit-add-2:before {
  content: "\e9a2";
}
.sit-add:before {
  content: "\e9a3";
}
.sit-eliminar-2:before {
  content: "\e9a4";
}
.sit-editar-2:before {
  content: "\e9a5";
}
.sit-camion-2:before {
  content: "\e9a6";
}
.sit-camion-4:before {
  content: "\e9ab";
}
.sit-doc:before {
  content: "\e9ac";
}
